{% extends 'base.html' %}

{% block header %}
  <div class="search">
    <form method="post">
      <label for="artist"></label>
      <input name="artist" id="artist" placeholder="ENTER ARTIST">
      <input type="submit" style="visibility:hidden" value="Submit">
    </form>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}
{% block content %}
  {% for sighting in sightings %}
    <article class="artwork">
      <div class="art">
        <div>
          {% if sighting['file_type'] == 'video' %}
            <video controls>
              <source src="{{ sighting['url'] }}" type="video/mp4">
            </video>
          {% else %}
            <img src="{{ sighting['url'] }}">
          {% endif %}
          <p class="title">{{ sighting['title'] or "(No Title)"}}</p>
          <p class="subtitle">{{ sighting['artist'] }}</p>
          <p class="small">{{ sighting['date_created'] }}</p>
        </div>
      </div>
      <div class="description small">
          <p>Seen at {{ sighting['museum_name'] }} on {{ sighting['sighting_date'] }}</p>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
