{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Sightings{% endblock %}</h1>
  <div class="search">
    <form method="post">
      <label for="artist">artist</label>
      <input name="artist" id="artist">
      <input type="submit" value="Submit">
    </form>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}
{% block content %}
  {% for sighting in sightings %}
    <article class="artwork">
      <div class="art">
        <div>
          <img src="{{ sighting['url'] }}">
          <p class="title">{{ sighting['title'] }}</p>
          <p class="subtitle">{{ sighting['artist'] }}</p>
          <p class="date">{{ sighting['date_created'] }}</p>
        </div>
      </div>
      <div class="description">
          <p>Seen at {{ sighting['museum_name'] }} on {{ sighting['sighted_date'] }}</p>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
