{% extends 'base.html' %}

{% block header %}
  <script>
    grecaptcha.ready(function() {
    grecaptcha.execute('6LdtzYEUAAAAANpUHh0X_6dYwVm97qCoFqR0T7qQ', {action: 'register_view'})
      .then(function(token) {
      // Verify the token on the server.
      });
    });
  </script>
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}